*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container{

}

#top-nav{
	height: 60px !important;
}

.navbar-brand{
	margin-top: 2px;
	margin-left: 5px;
	font-size: 22px !important;
}

#score-board{
	height: 60px;
	width: 200px;
	float: right;
	margin-right: -80px;
}

.score-wrapper{
	height: 40px;
	width: 40px;
	margin-top: 10px;
	display: inline-block;
	margin-left: 10px;
	padding: 0 !important;
}

.score-wrapper-highlight{
	border: 2px solid white !important;
}

.score{
	font-size: 28px;
	font-family: sans-serif;
	text-align: center;
	line-height: 30px;
	position: relative;
	top: 4px;
}

#score-1{
	color: white;
}

#score-2{
	color: white;
}

#puzzle-wrapper{
	height: 652px; /*2px extra for border*/
	width: 652px; /*2px extra for border*/
	/*border: 1px solid black;*/
	margin-top: 70px;
	margin-left: -105px;
	float: left;
}

.pixel {
	height: 65px;
	width: 65px;
	border: 1px solid white;
	background-color: #e6e6e6;
	float: left;
}

.puzzle-char{
	font-family: sans-serif;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
}

.highlight-1{
	background-color: #f0ad4e;
}

.highlight-2{
	background-color: #5cb85c ;
}

#voice-input{
	width: 325px;
	height: 35px;
	background: url('../resources/mic.gif') 1290px 0 no-repeat;
	background-size: contain;
	padding-right: 30px;
	padding-left: 5px;
}

#mic{
	margin-left: 10px;
	padding: 7px 50px;
}

#right-area-wrapper{
	height: 652px;
	width: auto;
	/*border: 1px solid black;*/
	margin-top: 70px;
	float: left; 
	padding-left: 50px;
}

#interim-wrapper{
	margin-top: 10px;
}

#log-wrapper{
	border-top: 1px solid black;
	height: 500px;
	width: 480px;
	margin-top: 20px;
	padding-top: 10px;
}

#log-header p{
	font-family: sans-serif;
	font-size: 24px;
}

.log-button{
	float: left;
	margin: 1px;
	color: white;
	font-family: sans-serif;
	font-size: 18px !important;
}

#new-game-btn{
	margin-top: 15px;
	height: 50px;
	width: 425px;
}

#game-no{
	position: relative;
	top: 12px;
	width: 50px;
	height: 50px;
	font-size: 24px;
	font-family: sans-serif;
	text-align: center;
}

#timer{
	margin-left: 20px; 
	height: 652px;
	border-left: 1px solid black;
	width: 40px;
	margin-top: 70px;
	float: left;
}

#footer{
	width: 100%;
	height: 36px;
	background-color: #080808;
	margin-top: 10px;
	color: #9d9d9d;
}

#footer a{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	color: #9d9d9d;
	text-decoration: none;
}

#footer :hover{
	color: white;
}
